workflow.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -2840,
        140
      ],
      "id": "9cb059ee-fc07-4f30-854e-4fe2632b748d",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "S81IKDY8thpdHB4G",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.from.value[0].name }}",
        "attributes": {
          "attributes": [
            {
              "name": "senderName",
              "description": "Extract the sender's name from the email. If the name is not available, return an empty string.",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an extraction expert. Identify and extract only the key information from the text. If a required attribute is not present, return an empty string as its value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        -2600,
        140
      ],
      "id": "517d8d1d-eee0-4c39-af69-3b5818533c0b",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2680,
        340
      ],
      "id": "e1ad95d0-0b96-4a68-8e20-9db7b4b8de7e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BPkLGucw279o0UG0",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "efaf396c-e36b-4369-b904-4726787fa9b7",
              "leftValue": "={{ $json.output.senderName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2200,
        140
      ],
      "id": "e137d004-2bef-40d6-95c6-a5c8af6edc46",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9472688f-14a8-415c-864e-1ad245ff0d6d",
              "name": "introduction",
              "value": "Hey,",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1920,
        240
      ],
      "id": "453562cb-c3f3-4e80-819c-c50ccf6a3658",
      "name": "No Name"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a305a52-3ce0-4586-a900-038a6612178e",
              "name": "introduction",
              "value": "=Dear {{ $json.output.senderName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1940,
        20
      ],
      "id": "7a34ad1e-4ea5-4a40-8f3a-7d9bd1b22ac9",
      "name": "Name Found"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "introduction",
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1660,
        140
      ],
      "id": "1167fc2e-2d63-47d8-9a4b-12057c6534d5",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d374039-a5c3-4047-b19c-4d05f485cceb",
              "name": "introduction",
              "value": "={{ $json.introduction }}",
              "type": "string"
            },
            {
              "id": "eafcf4be-81e1-42af-83e7-1407680585fc",
              "name": "emailBody",
              "value": "={{ $('Gmail Trigger').item.json.text }}",
              "type": "string"
            },
            {
              "id": "0f9e0296-2c71-47d9-a526-b29ca30a41d2",
              "name": "messageId",
              "value": "={{ $('Gmail Trigger').item.json.id }}",
              "type": "string"
            },
            {
              "id": "ea2e0681-abb6-49ae-92f5-aa08f6c1cb79",
              "name": "threadId",
              "value": "={{ $('Gmail Trigger').item.json.threadId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1420,
        140
      ],
      "id": "05e207ff-d7fe-4368-97b9-fec8d2e2095f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "inputText": "={{ $json.emailBody }}",
        "categories": {
          "categories": [
            {
              "category": "Course Requests",
              "description": "This includes inquiries about course services, pricing, availability, or related details."
            },
            {
              "category": "Consultation Requests",
              "description": "This includes scheduling initial consultations or follow-up appointments."
            },
            {
              "category": "Payments",
              "description": "Inquiries about paid collab, payments, or refund requests."
            },
            {
              "category": "Miscellaneous",
              "description": "Emails that don't fall into any of the predefined categories."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please share with me the specific {categories} that you would like to use so I can perform the analysis correctly. Once you have provided the categories, I will deliver the answer in JSON format, without explanations."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -1240,
        140
      ],
      "id": "96316e7e-14ec-41b7-ad26-eea17e4ab3dd",
      "name": "Text Classifier1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1280,
        340
      ],
      "id": "c3c919b0-5119-4282-93b6-449a990f44a5",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "BPkLGucw279o0UG0",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.messageId }}",
        "labelIds": [
          "Label_1220854848447171573"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -680,
        -60
      ],
      "id": "c8b3d08e-364a-485d-a2f7-8a6bbff865ce",
      "name": "Gmail7",
      "webhookId": "af462a09-091d-4ffa-9c2a-2d9dd1f15f88",
      "credentials": {
        "gmailOAuth2": {
          "id": "S81IKDY8thpdHB4G",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.messageId }}",
        "labelIds": [
          "Label_6488105623131110949"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -680,
        100
      ],
      "id": "05fcc66c-575d-4f31-91ec-1cf1896fe7fd",
      "name": "Gmail8",
      "webhookId": "af462a09-091d-4ffa-9c2a-2d9dd1f15f88",
      "credentials": {
        "gmailOAuth2": {
          "id": "S81IKDY8thpdHB4G",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.messageId }}",
        "labelIds": [
          "Label_1259947732055290677"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -680,
        260
      ],
      "id": "07b5ecf6-81dc-4e67-b22f-2cd95cb97c46",
      "name": "Gmail9",
      "webhookId": "af462a09-091d-4ffa-9c2a-2d9dd1f15f88",
      "credentials": {
        "gmailOAuth2": {
          "id": "S81IKDY8thpdHB4G",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.messageId }}",
        "labelIds": [
          "Label_2373475561202755976"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -640,
        420
      ],
      "id": "dcfae939-a975-4816-8339-4aa85f80b15b",
      "name": "Gmail10",
      "webhookId": "af462a09-091d-4ffa-9c2a-2d9dd1f15f88",
      "credentials": {
        "gmailOAuth2": {
          "id": "S81IKDY8thpdHB4G",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.id }}",
        "emailType": "text",
        "message": "={{ $('Text Classifier1').item.json.introduction }}\n\nThank You for Reaching Out!\nHi,\nThank you for getting in touch! I’m glad to hear from you and look forward to learning more about how I can help.\n\nYour message has been received, and I’ll get back to you within the next 24 hours after reviewing the details.\n\nIn the meantime, feel free to connect with me on LinkedIn:\n🔗 LinkedIn – Sirimallika Rao\n\nLooking forward to speaking with you soon!\n\nWarm regards,\nSirimallika Rao\nAutomation & Lead Gen Enthusiast",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -400,
        -60
      ],
      "id": "0f4bde3a-f147-4b08-be48-56f0f5223916",
      "name": "Gmail11",
      "webhookId": "b02440bb-d0ae-4f5e-a0f0-bd46c75ffb74",
      "credentials": {
        "gmailOAuth2": {
          "id": "S81IKDY8thpdHB4G",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.id }}",
        "emailType": "text",
        "message": "={{ $('Text Classifier1').item.json.introduction }}\n\n Let's Schedule Your Consultation\n\nHi,\n\nThank you for reaching out! I’m excited to learn more about your needs and explore how I can assist you.\n\nTo schedule your consultation, simply reply to this email with your preferred date and time. You can also reach me directly at sirimallikaraob@gmail.com, and I’ll coordinate a convenient time for us to connect.\n\nIf there are specific topics you’d like to cover during the consultation, feel free to mention them in your message.\n\nLooking forward to speaking with you soon!\n\nWarm regards,\nSirimallika Rao\n Automation & Lead Gen Enthusiast\n📩 sirimallikaraob@gmail.com\n🔗 LinkedIn – Sirimallika Rao",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -380,
        120
      ],
      "id": "600bb98b-d356-48d2-bc31-bc5de74da20b",
      "name": "Gmail12",
      "webhookId": "b02440bb-d0ae-4f5e-a0f0-bd46c75ffb74",
      "credentials": {
        "gmailOAuth2": {
          "id": "S81IKDY8thpdHB4G",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.id }}",
        "emailType": "text",
        "message": "={{ $('Text Classifier1').item.json.introduction }}\n\nPayment/Billing Inquiry Received\n\nHi,\n\nThank you for reaching out regarding your payment or billing inquiry.\n\nI’ve received your message, and I’ll get back to you within 2 business days with the information or assistance you need.\n\nIf your matter is urgent, feel free to contact me directly at sirimallikaraob@gmail.com.\n\nThank you for your patience, and I appreciate your trust.\n\nWarm regards,\nSirimallika Rao\n Automation & Lead Gen Enthusiast\n📩 sirimallikaraob@gmail.com\n🔗 LinkedIn – Sirimallika Rao",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -380,
        280
      ],
      "id": "7111a463-5c3e-44c9-84c8-84eed5d35930",
      "name": "Gmail13",
      "webhookId": "b02440bb-d0ae-4f5e-a0f0-bd46c75ffb74",
      "credentials": {
        "gmailOAuth2": {
          "id": "S81IKDY8thpdHB4G",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Name Found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Name": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Name Found": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Text Classifier1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier1": {
      "main": [
        [
          {
            "node": "Gmail7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail7": {
      "main": [
        [
          {
            "node": "Gmail11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail8": {
      "main": [
        [
          {
            "node": "Gmail12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail9": {
      "main": [
        [
          {
            "node": "Gmail13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c7eaeb6745001c6be3e79c27b1de2f197c5e2743b8fc6b77fc8bbc2b286a06da"
  }
}
